$color-primary: lightyellow;
$color-border: darkgrey;
$color-navbar: rgb(221, 161, 137);
$color-bground-one: rgb(252, 166, 133);
$color-bground-two: rgb(243, 236, 223);
$color-bground-three: rgb(252, 252, 85);
$color-blue: rgb(15, 161, 219);
$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: "Shadows Into Light Two", cursive;


body {
    font-family: $font-primary;
    background-color: $color-primary;
}

h2, h3, h5 {
    font-family: $font-secondary;
}

.navbar-dark {
    background-color: $color-navbar;
}

.jumbotron {
    margin: 0;
    padding: 30px; 
    text-align: center;
    background-image: url("../img/Beach_Sunset.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350% 275%;
    color: white;
    /*background-image: linear-gradient(to right, $color-bground-one, $color-bground-two, $color-bground-three);*/
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

footer {
    background-image: linear-gradient(to right, $color-bground-one, $color-bground-two, $color-bground-three));
}

a {
    color: $color-blue;
}

.modal-body {
    background-color: $color-primary;
}

#eventForm, #feedbackForm {
    background-color: $color-primary;
    border: 1px solid $color-border;
}

img {
    height: 300px;
    width: 300px;
}

#artsImage {
    height: 300px;
    width: 225px;
}

#popularEvent {
    background-color: $color-primary;
    border: 2px solid $color-border;
}

#popularTitle {
    color: $color-blue;
}

.dropdown-menu {
    background-color: $color-primary;
    position: relative;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}