body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightyellow;
}

h2, h3, h5 {
    font-family: "Shadows Into Light Two", cursive;
}

.navbar-dark {
    background-color: rgb(252, 182, 155);
    border: 1px solid white;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, lightsalmon, oldlace, yellow);
    text-align: center;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

footer {
    background-image: linear-gradient(to right, lightsalmon, oldlace, yellow);
}

a {
    color: skyblue;
}

.modal-body {
    background-color: lightyellow;
}

#eventForm, #feedbackForm {
    background-color: lightyellow;
    border: 1px solid darkgrey;
}

img {
    height: 300px;
    width: 300px;
}

#artsImage {
    height: 300px;
    width: 225px;
}

#popularEvent {
    background-color: lightyellow;
    border: 1px solid darkgrey;
}

#popularTitle {
    color: skyblue;
}